COMPOSE_PROJECT_NAME=job-radar-prod

# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_this_secure_password
POSTGRES_DB=devradar

# Email / SMTP Settings
SMTP_USER=your_email@example.com
SMTP_PASSWORD=your_app_password

# The domain where the app will be hosted (for CORS, etc.)
# DOMAIN=devlatam.com
